body{
    background-color: aquamarine;
    margin: 15;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;


}
#Akan-form{
    background-color: white;
    padding: 2px;
    border-radius: 8px;
    width:300px;

}


header h1{
    margin-bottom: 0.5rem;
    text-align: center;
    color:brown;

}
label{
    display:block;
    font-weight: bold;
    margin-top: 1rem;
}
button{
    font-size: 20px;
    border:none;
    cursor:pointer;
    transition: background 0.3s;
}
button:hover{
    background-color: #0056b3;
}
h2{
    color:teal;
    text-align: center;

}
#footer{
    font-style:italic;
    text-align: center;
}


