body{
    background-color:whitesmoke;
    margin: 15;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;

}

.form-card{
    background-color:tan;
    padding: 3px;
    max-width: 200px;
    border-radius: 12px;
    text-align: center;
    width:100%;
}
.container{
    padding:20px;
    border-radius: 5px;
    text-align: center;
    box-shadow:0 10px 30px;
    max-width: 400px;
}

header p{
    color:black;
    font-size: medium;
    mmargin: 5px;
}
.input-group{
    text-align: left;
    margin-bottom: 0%;
}

#Akan-form{
    background-color:teal;
    padding: 10px;
    border-radius: 12px;
    width:300px;

}
header h1{
    margin-bottom: 0.5rem;
    text-align: center;
    color:brown;
    padding: 13px;
    margin: top 5px ;
    background-color: cadetblue;
    text-decoration: underline;

}
label{
    display:block;
    font-weight: bold;
    margin-top: 1rem;
    color:#333;
}
input[type="date"]{
    width: 100%;
    padding:10px;
    border-radius: 6px;

}
button{
    font-size: 20px;
    border:none;
    cursor:pointer;
    transition: background 0.3s;
}
button:hover{
    background-color: #0056b3;
}
h2{
    color:teal;
    text-align: center;

}

.radio-options{
    display:flex;
    gap: 2px;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-around;

}
.radio-options label{
    font-weight: 100px;
    margin-bottom: 0%;
}
#submit-button{
    border-radius:5;
    width:20;
    background-color: brown;
    font-size: medium;
    font-weight:bold;
    color:none;
    width:100%;

}
submit-button :hover{
    background-color: antiquewhite;
}
.result-section{
    margin-top: ;
    padding: 5px;
    border-radius: 8px;

}
#displayname{
    font-size: medium;
    font-weight: 100px;
    font-style:italic ;
    color:beige;
}